
/* ANIMATION */

.levitate {
    /* background-image: url(https://cdn-icons-png.flaticon.com/512/8841/8841321.png); */
    animation: levitate 4s ease-out;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes levitate {
    0% {
      transform: scale(1.2) translateY(-15px);
    }
    50% {
      transform: scale(1.2) translateY(-30px);
    }
    100% {
      transform: scale(1.2) translateY(-15px);
    }
  }
  
  
  .shake {
    animation: shake .3s;
  }
  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
      33% {
      transform: rotate(-2deg);
    }
      66% {
      transform: rotate(2deg);
    }
    100% {
      transform: rotate(0);
    }
  }
  
  .slide-in {
    animation: slide-in .8s ease-in-out;
  }
  @keyframes slide-in {
    0% {
      transform: translateY(1000px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  .side-container-0,
  .day-container-0 {
    animation-delay: 0s;
    transform: translateY(0px)
  }
  .side-container-1,
  .day-container-1 {
    animation-delay: 0.2s;
    transform: translateY(0px)
  }
  .side-container-2,
  .day-container-2 {
    animation-delay: 0.4s;
    transform: translateY(0px)
  }
  .side-container-3,
  .day-container-3 {
    animation-delay: 0.6s;
    transform: translateY(0px)
  }
  .side-container-4,
  .day-container-4 {
    animation-delay: 0.8s;
    transform: translateY(0px)
  }
  .side-container-5,
  .day-container-5 {
    animation-delay: 1s;
    transform: translateY(0px)
  }
  .sidebar-end,
  .day-container-6 {
    animation-delay: 1.2s;
    transform: translateY(0px)
  }
  
  
  .outside {
    transform: translateY(1000px)
  }