@media (max-width: 1000px) {
  #content {
    width: 98%;
    height: 98%;
    grid-template-columns: 1fr;
  }
  .sidebar-top > p {
    padding: 3px;
    font-size: 0.8rem;
  }
  .side-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .side-city {
    font-size: 0.8rem;
  }

  .side-country,
  .right-side {
    display: none;
  }
  .left-side {
    height: auto;
  }
  .weather-api {
    height: 60px;
    width: 80px;
  }
}

@media only screen and (max-width: 750px) {
  #content {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
  .sidebar-top,
  .sidebar,
  .sidebar-end {
    display: none;
  }
  .end-weather {
    font-size: 0.8em;
  }
}
