.sidebar-top {
  background-image: var(--blackish);
  width: 100%;
  height: 100%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.5px;
  padding: 12.5px;
}

.sidebar-top > p {
  height: 100%;
  font-weight: bold;
  font-size: 1.2rem;
}

.sidebar {
  display: grid;
  grid-template-rows: repeat(auto-fit, auto);
  gap: 5px;
}

.side-container {
  display: grid;
  grid-template-columns: 1fr 60px 100px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-image: var(--blackish);
  border-radius: 25px 25px 25px 25px;
  color: white;
  padding: 7.5px 15px;
  column-gap: 7.5px;

  cursor: pointer;
}

.left-side,
.right-side {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-city {
  font-weight: bold;
}

.side-country {
  font-weight: medium;
  font-size: 0.8rem;
  color: var(--greyish);
}

.side-icon {
  grid-column: 2/3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
}

.side-temp {
  font-weight: bold;
}

.side-time {
  font-weight: medium;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6);
}

/* ATTRIBUTES */
.sidebar-end {
  grid-column: 2/2;
  grid-row: 3/4;
  background-image: var(--blackish);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.att {
  font-size: 0.9rem;
}

.weather-api {
  background-image: url(https://cdn.weatherapi.com/v4/images/weatherapi_logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 100px;
}
