.topbar {
  background-image: var(--blackish);
  width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 15px;
  border-radius: 20px;
  padding: 5px 20px;
}

.app-name {
  font-weight: bold;
  font-size: 1.25rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/* SEARCH BAR  */

form {
  height: 80%;
  background-image: var(--blackish2);
  display: grid;
  grid-template-columns: 1fr 25px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 0 10px;
}

form > input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: .9rem;
}

form > button {
  cursor: pointer;
  background-color: transparent;
  font-size: 1.2rem;
}
form > button:hover {
  font-size: 1.4rem;
}

/* TEMPERATURE SCALE AND SYSTEM MEASUREMENT */
.preference-container {
  display: grid;
  grid-template-columns: 90px 100px 80px;
  justify-content: center;
}

.pref-button {
  font-weight: medium;
  background-color: rgba(0, 0, 0, 0);
  padding: 3px 5px;
  cursor: pointer;
  font-size: .7rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  opacity: .6;
}

.pref-button:hover {
  opacity: 1;
}

.pref-button:nth-child(1) {
  border-radius: 15px 0 0 15px;
}
.pref-button:nth-child(3) {
  border-radius: 0 15px 15px 0;
}

.pref-button>p {
  font-size: .9rem;
  color: rgba(172, 255, 47);
  font-weight: bold;
}