@font-face {
  font-family: 'light';
  src: url(./fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: 'med';
  src: url(./fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: 'bold';
  src: url(./fonts/Poppins-Bold.ttf);
}

:root {
  --blackish: linear-gradient(to bottom left, #757575, #212121);
  --blackish2: linear-gradient(to left, #4b4b4b, #3f3f3f);
  --blueish: linear-gradient(to bottom left, #39375D, #171C36);
  --blueish2: linear-gradient(to top right, #2d2b57, #151b38);
  --greyish: rgba(212, 212, 212, 0.25);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'light';
  font-size: 1.1rem;
  color: #eeeeee;
  /* border: solid 1px yellow; */
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

#content {
  width: 85%;
  height: 95%;
  display: grid;
  grid-template-columns: 1fr minmax(50px, 280px);
  grid-template-rows: 45px 1fr auto;
  gap: 7.5px;
}

.topbar {
  grid-column: 1/3;

  background-image: var(--blackish);
  width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 15px;
  border-radius: 20px;
  padding: 5px 20px;
}

.app-name {
  font-family: 'bold';
  font-size: 1.25rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/* SEARCH BAR  */

form {
  background-image: var(--blackish2);
  display: grid;
  grid-template-columns: 1fr 25px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 0 10px;
}

form > input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

form > button {
  cursor: pointer;
  background-color: transparent;
  font-size: 1.2rem;
}

/* TEMPERATURE SCALE AND SYSTEM MEASUREMENT */

.pref-button {
  width: 75px;
  background-color: transparent;
  cursor: pointer;
  font-family: 'med';
  font-size: 1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.pref-button:hover {
  font-family: 'bold';
  color: white;
}

/* MAIN CITY */

.main-body {
  width: 100%;
  color: white;
}

.main-container {
  background-image: linear-gradient(to bottom right, #39375D, #171C36);
  background-image: var(--blackish);
  width: 100%;
  height: 100%;
  border-radius: 25px;
  padding: 20px;

  display: grid;
  grid-template-rows: auto 1fr auto auto;
  row-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 5px;
}

.top-container {
  grid-column: 1/6;
  display: flex;
  justify-content: space-between;
}

.geo-container {
  display: flex;
  flex-direction: column;
}

.date-container {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.main-city,
.main-date {
  font-family: 'bold';
  padding: 5px 0;
  font-size: 1.2rem;
}

.main-coutry,
.main-time {
  height: 100%;
  padding: 5px 0;
  font-size: 1rem;
}

.main-icon {
  grid-column: 1/6;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.main-weather {
  grid-column: 1/6;
  text-align: center;
  font-family: 'bold';
  font-size: 1.5rem;
}

.temp-container {
  grid-column: 1/2;
  text-align: center;
}

.sub-container:after {
  text-align: center;
  content: attr(data-hover);
  border-radius: 15px;
  border: solid 1px grey;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 0px 5px;
  position: absolute;
  opacity: 0;
  transform: translate(0px, -25px);
}

.sub-container:hover:after {
  opacity: 1;
}

.temp-icon-c {
  background-image: url(https://cdn-icons-png.flaticon.com/512/1146/1146866.png);
}
.temp-icon-f {
  background-image: url(https://cdn-icons-png.flaticon.com/512/1146/1146868.png);
}

.humid-icon {
  background-image: url(https://cdn-icons-png.flaticon.com/512/2828/2828802.png);
}
.humid-container {
  grid-column: 2/3;
  text-align: center;
}

.wind-container {
  grid-column: 3/4;
  text-align: center;
}
.wind-icon {
  background-image: url(https://cdn-icons-png.flaticon.com/512/1146/1146907.png);
}
.uv-container {
  grid-column: 4/5;
  text-align: center;
}
.uv-icon {
  background-image: url(https://cdn-icons-png.flaticon.com/512/4005/4005885.png);
}
.cloud-container {
  grid-column: 5/6;
  text-align: center;
}
.cloud-icon {
  background-image: url(https://cdn-icons-png.flaticon.com/512/1146/1146877.png);
}

.sub-container {
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  padding: 10px 0;
}

.sub-icon {
  height: 30px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hidden {
  display: none;
}

/* 7 DAYS FORECAST */

.end-body {
  grid-column: 1/2;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 5px;
}

.day-container {
  background-image: var(--blackish);
  border-radius: 20px;
  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-rows: repeat(2, auto) 45px 1fr;
  text-align: center;
  padding: 7.5px 5px;
  color: white;
  font-size: 0.9rem;
}

.end-date {
  font-family: 'med';
  font-size: 0.9rem;
}

.end-day {
  font-family: 'bold';
  font-size: 0.9rem;
}

.end-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;

  border-top: solid 10px transparent;
}

.end-weather {
  font-size: 0.9em;
  padding: 5px;
}

.sidebar {
  grid-row: 2/3;
  grid-column: 2/3;

  width: 100%;
  display: grid;
  grid-template-rows: repeat(auto-fit, auto);
  gap: 5px;
}

.side-container {
  display: grid;
  grid-template-columns: 1fr 45px 85px;
  grid-template-rows: auto 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: var(--blackish);
  border-radius: 25px 25px 25px 25px;
  color: white;
  padding: 7.5px 15px;
  gap: 2.5px;
}

.side-city {
  font-family: 'bold';
  /* color: #80D8FF; */
}

.side-country {
  grid-row: 2/3;
  font-family: 'med';
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6);
}

.side-temp {
  grid-row: 1/3;
  font-family: 'bold';
  font-size: 1.4rem;
  /* text-align: end; */
}

.side-icon {
  grid-row: 1/3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 45px;
}

/* ATTRIBUTES */

.sidebar-end {
  grid-column: 2/2;
  grid-row: 3/4;
  background-image: var(--blackish2);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.att {
  font-size: .9rem;
  
}


.weather-api {
  background-image: url(https://cdn.weatherapi.com/v4/images/weatherapi_logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 100px;
}

@media (max-width: 900px) {
  #content {
    width: 98%;
    height: 98%;
    grid-template-columns: 1fr;
  }
  .side-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .side-city {
    font-size: 0.8rem;
  }

  .side-country,
  .side-temp,
  .side-weather {
    display: none;
  }
  .side-icon {
    width: 35px;
    height: 35px;
  }
  .weather-api {
    height: 60px;
    width: 80px;
  }
}

@media only screen and (max-width: 750px) {
  #content {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
  .sidebar,
  .sidebar-end {
    display: none;
  }
  .end-weather {
    font-size: 0.8em;
  }
}

.main-icon {
  animation: bottom 4s ease-in-out;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes bottom {
  0% {
    transform:scale(1.3)  translateY(-15px);
  }
  50% {
    transform:scale(1.3)  translateY(-30px);
  }
  100% {
    transform: scale(1.3) translateY(-15px);
  }
}
