@font-face {
  font-family: 'light';
  src: url(./fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: 'med';
  src: url(./fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: 'bold';
  src: url(./fonts/Poppins-Bold.ttf);
}

:root {
  --blackish: linear-gradient(to bottom left, #757575, #212121);
  --greyish: rgba(212, 212, 212, 0.25);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'light';
  /* border: solid 1px var(--greyish); */
  color: #eeeeee;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #d4d4d4; */
}

#content {
  width: 90%;
  height: 95%;
  display: grid;
  grid-template-columns: 1fr minmax(50px, 225px);
  gap: 10px;
}

.main {
  height: 100%;
  display: grid;
  grid-template-rows: 35px 1fr 100px;
  gap: 10px;
}

.start-main {
  background-image: var(--blackish);
  width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 70px 1fr repeat(2, 70px);
  gap: 7.5px;
  border-radius: 20px;
  padding: 5px 20px;
}

.app-name {
  font-family: 'bold';
  font-size: 1.25rem;
}

/* SEARCH BAR  */

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-image: linear-gradient(to left, #4b4b4b, #3f3f3f);
  padding: 0 10px;
}

form > input {
  width: 90%;
  background-color: transparent;
  border: none;
  outline: none;
}

form > button {
  background-color: transparent;
  font-size: 1.2rem;
}

/* TEMPERATURE SCALE AND SYSTEM MEASUREMENT */

.start-main > button {
  border-radius: 12.5px;
  background-color: transparent;
  cursor: pointer;
  font-family: 'med';
}

.start-main > button:hover {
  font-family: 'bold';
  color: white;
}

/* MAIN CITY */

.center-main {
  width: 100%;
  color: white;
}

.main-container {
  background-image: linear-gradient(to left, #4b4b4b, #3f3f3f);
  width: 100%;
  height: 100%;
  border-radius: 25px;
  padding: 20px;

  display: grid;
  grid-template-rows: auto auto 1fr auto auto;
  row-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 5px;
}

.date-container {
  grid-column: 1/6;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}

.geo-container {
  grid-column: 1/6;
  display: flex;
  gap: 5px;
}
.geo-icon {
  background-image: url(https://cdn-icons-png.flaticon.com/512/6421/6421001.png);
  height: 15px;
  width: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(7.5px);
}

.main-city {
  font-family: 'med';
  padding: 5px 0;
}

.main-icon {
  background-image: url(https://cdn-icons-png.flaticon.com/512/6421/6421095.png);
  height: 100%;
  grid-column: 1/6;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-shadow: 5px 5px 5px;
}
.main-weather {
  grid-column: 1/6;
  text-align: center;
  font-family: 'bold';
  font-size: 2rem;
}

.temp-container {
  grid-column: 1/2;
  text-align: center;
}
.temp-icon {
  background-image: url(https://cdn-icons-png.flaticon.com/512/6421/6421026.png);
}

.humid-icon {
  background-image: url(https://cdn-icons-png.flaticon.com/512/6420/6420903.png);
}
.humid-container {
  grid-column: 2/3;
  text-align: center;
}

.wind-container {
  grid-column: 3/4;
  text-align: center;
}
.wind-icon {
  background-image: url(https://cdn-icons-png.flaticon.com/512/6420/6420982.png);
}
.uv-container {
  grid-column: 4/5;
  text-align: center;
}
.uv-icon {
  background-image: url(https://cdn-icons-png.flaticon.com/512/6420/6420898.png);
}
.cloud-container {
  grid-column: 5/6;
  text-align: center;
}
.cloud-icon {
  background-image: url(https://cdn-icons-png.flaticon.com/512/6421/6421016.png);
}

.sub-container {
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  padding: 10px 0;
}

.sub-icon {
  height: 30px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
}

/* 7 DAYS FORECAST */

.end-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day-container {
  background-image: var(--blackish);
  border-radius: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  padding: 5px;
  color: white;
}

.end-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.sidebar {
  height: 100%;
  display: grid;
  grid-template-rows: 35px 1fr 100px;
  gap: 10px;
}

.start-sidebar {
  width: 100%;
}
.center-sidebar {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: 7.5px;
}

.side-container {
  background-image: var(--blackish);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 25px 25px 25px 25px;
  color: white;
}

.side-city {
  font-family: 'med';
  /* color: #80D8FF; */
}

.side-temp {
  font-family: 'bold';
  font-size: 1.5rem;
  height: 100%;
  padding-top: 5px;
  transform: scale(1.3) translate(5px, 6px);
}

.side-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  transform: translateY(7.5px);
}

@media only screen and (max-width: 800px) {
  #content {
    grid-template-columns: 1fr 80px;
  }

  .side-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .side-temp {
    display: none;
  }
  .side-weather {
    display: none;
  }
  .side-city {
    font-size: 0.8rem;
  }
  .side-icon {
    width: 35px;
    height: 35px;
  }
}

@media only screen and (max-width: 600px) {
  #content {
    grid-template-columns: 1fr;
  }
  .sidebar {
    display: none;
  }
}
